/* Navbar start */
.container-fluid {
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.container-fluid .brand {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 45px;

    .navbar-brand {
        color: #00AC4A;
    }
}

.container-fluid .brand p {
    font-size: 15px;
    margin: 0px;
}

.container-fluid .brand img {
    width: 100px;
    height: 100px;
}

.container-fluid .links {
    border: 2px solid #00AC4A;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* gap: 10px; */

    .nav-link {
        text-decoration: none;
    }
}

.container-fluid .btn {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.container-fluid .btn .btn1 {
    background-image: linear-gradient(to right, #08cc5d, #079243);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    margin-right: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-fluid .btn button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    color: #00AC4A;
    border: 2px solid #00ac4be5;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navl {
    color: red;
    text-decoration: none;
    gap: 20px !important;
}


/* Navbar end */

/* Home start */



.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 130px;
    margin-left: 130px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.mainheading {
    display: flex;
    align-items: center;

    .dr {
        background-image: linear-gradient(to right, #08cc5d, #079243);
        font-size: 25px;
        color: white;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }


    h1 {
        font-size: 52px;


        span {
            color: #00AC4A;
        }
    }


}

.heading1 {
    margin-left: 20px;
    font-size: 26px;

    p {
        margin-bottom: 0;
        font-weight: 100;
    }

    h6 {
        font-size: 26px;
        margin-top: 0px;
        color: #00AC4A;
        margin-bottom: 20px;
    }
}

.buttons {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

    .greenbtn {
        gap: 10px;
        margin: 10px;
        background-image: linear-gradient(to right, #08cc5d, #079243);
        border: none;
        border-radius: 25px;
        padding: 10px;
        color: white;
        width: 90%;
        justify-content: space-between;
        align-items: center;


    }

    .red {
        /* background-color: rgba(179, 69, 69, 0.571) !important; */
        gap: 10px;
        margin: 10px;
        /* background-image: linear-gradient(to right, #cf2711, #c730127e); */
        border: 1px solid red;
        border-radius: 25px;
        padding: 10px;
        color: red;
        width: 90%;
        justify-content: space-between;
        align-items: center;

    }

}

/* home end */

/* Certified section start */


/* Certified section start */


.text {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        background-image: linear-gradient(rgb(26, 219, 55), rgb(5, 66, 50));
        color: transparent;
        background-clip: text;
    }

    h4 {
        font-weight: lighter;

    }

    p {
        color: #00AC4A;
        background-color: #3bc37629;
        padding: 10px;
        border: 2px solid #00ac4b3f;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px;
        font-size: 15px;
        font-weight: 500;

    }
}

.certificateMain {
    padding: 0 130px;
}

.marquee {
    margin-top: 50px;
    padding: 0px, 80px;
    width: 100%;
    overflow: hidden;
    position: relative;



}

.marquee div {
    display: flex;
    animation: marquee 5s linear infinite;
}

.marquee span {

    align-items: center;
    justify-content: center;
    padding: 0 20px;

    p {
        color: #16713d;
        font-size: 14px;

    }
}

.marquee img {
    height: 80px;
    width: auto;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* certificate end */

/* Medical team start */
.full {
    background-color: #EFF8FB;
}

.medical {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        background-image: linear-gradient(rgb(26, 219, 55), rgb(5, 66, 50));
        color: transparent;
        background-clip: text;
        margin-top: 40px;
    }

    p {
        color: black;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;


    }
}


.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* padding: 50px 0; */
    margin-bottom: 15px;
    align-items: center;
    gap: 25px;
    padding: 20px 130px;
    margin-top: 30px;
    height: 100%;

    .drcard {
        width: 230px;
        background-color: white;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        padding: 10px;
        z-index: 2;


        img {
            width: 100%;
            border-radius: 30px;
            height: 250px;
        }

        h2 {
            font-size: 22px;
            padding: 10px 0px 0px 10px;
        }

        h4 {
            padding: 0px 0px 0 10px;
            font-size: 16px;
            color: var(--text-green);
        }

        div {
            margin: 8px 0;
            border: 1px solid var(--text-green);
            padding: 2px 7px;
            border-radius: 20px;
            width: 160px;
            background-color: #009a641c;
            font-size: 13px;
            margin-left: 10px;
        }

        button {
            margin: 10px 0px 0 10px;
            width: 95%;
            border: 1px solid var(--text-green);
            background-image: linear-gradient(to right, #08cc5d, #079243);
            border-radius: 30px;
            color: white;
            padding: 7px 0;

        }
    }
}

/* Medical team end */



/* footer style start */
.mainFooter {
    background-color: #F0FDF7;

    h3 {
        color: #16713d;
    }

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 100px;
        }

        h3 {
            margin: 0;
            font-size: 22px;
            color: var(--text-green);
        }

        p {
            font-size: 12px;
            margin: 0;
        }
    }

    .footerTabs {
        display: flex;
        justify-content: space-between;
        padding: 50px 130px;
        gap: 20px;
        position: relative;

        .first,
        .second,
        .third,
        .fourth {
            width: 25%;
        }

        .first {
            p {
                font-size: 18px;
                color: #16713d;
                font-style: italic;
            }

            .contactInfo {
                .information {
                    display: flex;
                    /* justify-content: center; */
                    align-items: center;
                    gap: 20px;
                    margin: 8px 0;
                    color: #16713d;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #D0FAE5;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .second,
        .third {

            .links {
                margin-top: 40px;
            }

            .links .link {
                transition: 0.3s;
                display: flex;
                align-items: center;
                padding: 5px;
                font-size: 16px;
                color: #16713d;
                gap: 10px;
                height: 40px;
                margin: 3px;
                border-radius: 20px;
                border: 1px solid #009a6400;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #D0FAE5;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 12px;
                }

                .dot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-size: 25px;
                }
            }

            .link:hover {
                background-color: #D0FAE5;
                border: 1px solid #009A63;


            }
        }

        .fourth {
            p {
                font-size: 18px;
                color: #16713d;
                font-style: italic;
            }

            .inputField {
                background-color: white;
                padding: 5px;
                border-radius: 30px;
                border: 2px solid #009A63;
                height: 50px;
                display: flex;
                align-items: center;

                input {
                    border: none;
                    outline: none;
                    padding-left: 10px;
                    width: 160px;
                }

                button {
                    /* margin: 10px 0px 0 10px; */
                    border: 1px solid var(--text-green);
                    background-image: linear-gradient(to right, #08cc5d, #079243);
                    border-radius: 30px;
                    color: white;
                    padding: 7px 15px;
                    font-weight: 700;
                }
            }

            .socialMedia {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                .icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background-color: white;
                    color: #16713d;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    box-shadow: 0px 0px 3px var(--text-green);

                }
            }
        }

    }

    .copyright {
        padding: 30px 130px;
        color: #16713d;
        display: flex;
        justify-content: space-between;
    }
}

.animatedIcon1 {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 30px;
    color: #16713d;
    animation: up_down_animation 4s infinite;
}

.animatedIcon2 {
    position: absolute;
    right: 100px;
    top: 70px;
    font-size: 30px;
    color: #16713d;
    animation: up_down_animation 4s infinite;

}

.animatedIcon3 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 30px;
    color: #16713d;
    animation: up_down_animation 4s infinite;

}

@keyframes up_down_animation {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

/* footer end */

/* Doctor page  start*/

.drpage {
    position: relative;
    background-color: #17b9631b;
    padding: 20px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 50px;
        color: #00AC4A;
        font-weight: 700;
    }

    p {
        text-align: center;
        color: #00AC4A;
        font-size: 18px;
    }

    .searchBox {

        margin-top: 30px;
        background-color: white;
        height: 50px;
        width: 500px;
        border-radius: 30px;
        color: #00AC4A;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        transition: 0.3s;

        .icon {
            font-size: 25px;
            color: #00AC4A;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 18px;
            margin-left: 10px;
            color: #00AC4A;

        }

        input::placeholder {
            color: #00AC4A;
        }
    }

    .searchBox:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 28px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    }

    .cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 50px 0;

        .drcard {
            width: 280px;
            background-color: white;
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            padding: 10px;
            z-index: 2;

            img {
                width: 100%;
                border-radius: 30px;
                height: 250px;
            }

            h2 {
                font-size: 22px;
                padding: 10px 0px 0px 10px;
            }

            h4 {
                padding: 0px 0px 0 10px;
                font-size: 16px;
                color: var(--text-green);
            }

            div {
                margin: 8px 0;
                border: 1px solid var(--text-green);
                padding: 2px 7px;
                border-radius: 20px;
                width: 160px;
                background-color: #009a641c;
                font-size: 13px;
                margin-left: 10px;
            }

            button {
                margin: 10px 0px 0 10px;
                width: 95%;
                border: 1px solid var(--text-green);
                background-image: linear-gradient(to right, #08cc5d, #079243);
                border-radius: 30px;
                color: white;
                padding: 7px 0;

            }
        }
    }

}

.blob1 {
    width: 350px;
    height: 350px;
    background-color: #1acc2e7b;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: 50px;
    filter: blur(50px);
    animation: blobanimation 8s infinite;
}

.blob2 {
    width: 250px;
    height: 250px;
    background-color: #0f98447b;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -20px;
    z-index: 1;
    filter: blur(50px);
    animation: blobanimation 8s infinite;
    animation-delay: 3s;
}

@keyframes blobanimation {
    0% {
        background-color: #009a1f7b
    }

    50% {
        background-color: #009a6400
    }

    100% {
        background-color: #009a3b7b
    }
}

/* footer end */


/*  contant page  */
.contactpage {
    padding: 50px 130px;
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .left,
    .right {
        width: 45%;
    }

    .left {
        z-index: 100;
        /* border: 1px solid #009A63; */
        border-radius: 30px;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.638);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        h1 {
            font-size: 35px;
            font-weight: 700;
            color: #16713d;
            ;

        }

        p {
            font-size: 16px;
            font-style: italic;
            color: #16713d;
            margin: 10px 0;
        }

        label {
            color: #16713d;
            font-size: 14px;
            font-weight: 700;
        }

        input {
            width: 100%;
            height: 40px;
            border: 1px solid #16713d;
            ;
            padding: 0 10px;
            border-radius: 30px;
            background-color: #F4FEF9;
        }

        input:focus {
            box-shadow: 0px 0px 3px #009A63, 0px 0px 3px #009A63, 0px 0px 3px #009A63;
            outline: none;
        }

        select {
            height: 40px;
            border: 1px solid #16713d;
            ;
            padding: 0 10px;
            border-radius: 30px;
            background-color: #F4FEF9;
        }

        select:focus {
            box-shadow: 0px 0px 3px #009A63, 0px 0px 3px #009A63, 0px 0px 3px #009A63;
            outline: none;
        }

        textarea {
            width: 100%;
            height: 100px;
            outline: 5xp solid #16713d !important;
            border-radius: 10px;
            background-color: #1a9d3638;
            padding: 10px;

        }

        textarea:focus {
            box-shadow: 0px 0px 3px #009A63, 0px 0px 3px #009A63, 0px 0px 3px #009A63;
            outline: none;
        }

        button {
            padding: 7px 20px;
            background-color: #009A63;
            color: white;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            margin-top: 10px;
            background-image: linear-gradient(to right, #08cc5d, #079243);
        }

        .name,
        .email,
        .phone,
        .Deperment,
        .services,
        .message {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .name,
        .email,
        .phone,
        .Deperment {
            width: 50%;
        }

        .services,
        .message {
            margin-bottom: 20px;
        }

        .row1 {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 20px;
        }
    }


    .right {
        display: flex;
        flex-direction: column;
        gap: 30px;

        p {
            margin: 0;
            font-size: 14px;
            padding: 5px 0;
        }

        .first {
            /* border: 1px solid #009A63; */
            border-radius: 30px;
            padding: 10px 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            background-color: #1a9d3638;

            h2 {
                font-size: 25px;
            }
        }

        .second {
            /* border: 1px solid #009A63; */
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            height: 300px;
            z-index: 100;

            iframe {
                height: 100%;
                width: 100%;
                border-radius: 30px;
            }
        }

        .third {
            background-color: #1a9d3638;
            border-radius: 15px;
            padding: 10px 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            z-index: 100;

            h2 {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }


    .blob3 {
        width: 500px;
        height: 500px;
        background-color: #1acc2e7b;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: -100px;
        filter: blur(100px);
        /* animation: blobanimation 4s infinite; */
        z-index: 1;
    }

    .blob4 {
        width: 250px;
        height: 250px;
        background-color: #0f98447b;
        border-radius: 50%;
        position: absolute;
        bottom: -100px;
        right: -20px !important;
        z-index: 1;
        filter: blur(100px);
        /* animation: blobanimation 8s infinite;
        animation-delay: 3s; */
    }
}

/* service page */
.drpage {
  position: relative;
  background-color: #F4FEF9;
  padding: 20px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: #16713d;
    font-weight: 700;
  }

  p {
    text-align: center;
    color: #16713d;
    font-size: 18px;
  }

  .searchBox {

    margin-top: 30px;
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #16713d;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 0.3s;

    .icon {
      font-size: 25px;
      color: #16713d;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 18px;
      margin-left: 10px;
      color: #16713d;

    }

    input::placeholder {
      color: #16713d;
    }
  }

  .searchBox:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 28px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  }

  .cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0;

    .drcard {
      width: 280px;
      background-color: white;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 10px;
      z-index: 2;

      img {
        width: 100%;
        border-radius: 30px;
      }

      h2 {
        font-size: 22px;
        padding: 10px 0px 0px 10px;
      }

      h4 {
        padding: 0px 0px 0 10px;
        font-size: 16px;
        color: var(--text-green);
      }

      div {
        margin: 8px 0;
        border: 1px solid var(--text-green);
        padding: 2px 7px;
        border-radius: 20px;
        width: 160px;
        background-color: #009a641c;
        font-size: 13px;
        margin-left: 10px;
      }

      button {
        margin: 10px 0px 0 10px;
        width: 95%;
        border: 1px solid var(--text-green);
        background-image: linear-gradient(to right, #08cc5d, #079243);
        border-radius: 30px;
        color: white;
        padding: 7px 0;

      }
    }
  }

}

.blob1 {
  width: 350px;
  height: 350px;
  background-color: #1acc2e7b;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 50px;
  filter: blur(50px);
  animation: blobanimation 8s infinite;
}

.blob2 {
  width: 250px;
  height: 250px;
  background-color: #1a8b467b;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  left: -20px;
  z-index: 1;
  filter: blur(50px);
  animation: blobanimation 8s infinite;
  animation-delay: 3s;
}

@keyframes blobanimation {
  0% {
    background-color: #1acc2e7b
  }

  50% {
    background-color: #1acc2e00 
  }

  100% {
    background-color: #0c903f7b
  }
}