/* Navbar start */
.container-fluid {
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.container-fluid .brand {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 45px;

    .navbar-brand {
        color: #00AC4A;
    }
}

.container-fluid .brand p {
    font-size: 15px;
    margin: 0px;
}

.container-fluid .brand img {
    width: 100px;
    height: 100px;
}

.container-fluid .links {
    border: 2px solid #00AC4A;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.container-fluid .btn {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.container-fluid .btn .btn1 {
    background-image: linear-gradient(to right, #08cc5d, #079243);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    margin-right: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-fluid .btn button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    color: #00AC4A;
    border: 2px solid #00ac4be5;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Navbar end */

/* Home start */



.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 130px;
    margin-left: 130px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.mainheading {
    display: flex;
    align-items: center;

    .dr {
        background-image: linear-gradient(to right, #08cc5d, #079243);
        font-size: 25px;
        color: white;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }


    h1 {
        font-size: 52px;


        span {
            color: #00AC4A;
        }
    }


}

.heading1 {
    margin-left: 20px;
    font-size: 26px;

    p {
        margin-bottom: 0;
        font-weight: 100;
    }

    h6 {
        font-size: 26px;
        margin-top: 0px;
        color: #00AC4A;
        margin-bottom: 20px;
    }
}

.buttons {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

    .greenbtn {
        gap: 10px;
        margin: 10px;
        background-image: linear-gradient(to right, #08cc5d, #079243);
        border: none;
        border-radius: 25px;
        padding: 10px;
        color: white;
        width: 90%;
        justify-content: space-between;
        align-items: center;


    }

    .red {
        /* background-color: rgba(179, 69, 69, 0.571) !important; */
        gap: 10px;
        margin: 10px;
        /* background-image: linear-gradient(to right, #cf2711, #c730127e); */
        border: 1px solid red;
        border-radius: 25px;
        padding: 10px;
        color: red;
        width: 90%;
        justify-content: space-between;
        align-items: center;

    }

}

/* home end */

/* Certified section start */


/* Certified section start */


.text {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        background-image: linear-gradient(rgb(26, 219, 55), rgb(5, 66, 50));
        color: transparent;
        background-clip: text;
    }

    h4 {
        font-weight: lighter;

    }

    p {
        color: #00AC4A;
        background-color: #3bc37629;
        padding: 10px;
        border: 2px solid #00ac4b3f;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px;
        font-size: 15px;
        font-weight: 500;

    }
}

.certificateMain {
    padding: 0 130px;
}

.marquee {
    margin-top: 50px;
    padding: 0px, 80px;
    width: 100%;
    overflow: hidden;
    position: relative;



}

.marquee div {
    display: flex;
    animation: marquee 5s linear infinite;
}

.marquee span {

    align-items: center;
    justify-content: center;
    padding: 0 20px;

    p {
        color: #16713d;
        font-size: 14px;

    }
}

.marquee img {
    height: 80px;
    width: auto;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* certificate end */

/* Medical team start */
.full {
    background-color: #EFF8FB;
}

.medical {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        background-image: linear-gradient(rgb(26, 219, 55), rgb(5, 66, 50));
        color: transparent;
        background-clip: text;
        margin-top: 40px;
    }

    p {
        color: black;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;


    }
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 20px 130px;
    margin-top: 30px;
    height: 100%;



}

.card {
    background: #ffffff;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;

}


.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 90%;
    height: 100px;
    object-fit: fill;
    border-radius: 30px;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 0;


}


.card h2 {
    font-size: 1.3rem;
    color: #1a2b49;
    margin-bottom: 10px;
}


.card p {
    color: #555;
    margin: 5px 0;
    font-size: 0.95rem;
    gap: 5px;
}


.card button {
    gap: 10px;
    margin: 10px;
    background-image: linear-gradient(to right, #08cc5d, #079243);
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
    width: 90%;
    justify-content: space-between;
    align-items: center;

}

/* Medical team end */

/* Reviews section start */

.review {
 background-color: #DBFCE7;
 text-align: center;
   
 h1 {
        background-image: linear-gradient(rgb(26, 219, 55), rgb(5, 66, 50));
        color: transparent;
        background-clip: text;
       padding-top: 30px;
 }
 
 p{
    font-size: 18px;
 }
}
main {
  width: min(1200px, 90vw);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}
.slider {
  width: var(--width);
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #000 10% 90%,
    transparent
  );
}
.slider .list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(var(--height) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  top: 100%;
  animation: autoRun 16s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (16s / var(--quantity)) * (var(--position) - 1) - 16s
  ) !important;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@keyframes autoRun {
  from {
    top: 100%;
  }
  to {
    top: calc(var(--height) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 16s linear infinite;
}
@keyframes reversePlay {
  from {
    top: calc(var(--height) * -1);
  }
  to {
    top: 100%;
  }
}
